<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>Sense Hat Data</h2>
CPU Temp: {{ senseHatData.cpuTemp }}<br/>
Temperature: {{ senseHatData.temperature }}<br/>
Pressure: {{ senseHatData.pressure }}<br/>
Temp from Pressure Sensor: {{ senseHatData.temperatureFromPressure }} <br/>
Humidity: {{ senseHatData.humidity }} <br/>
Pitch: {{ senseHatData.pitch }}<br/>
Roll: {{ senseHatData.roll }}<br/>
Yaw: {{ senseHatData.yaw }}